.main-container {
  height: 100vh;
  background-color: rgb(165, 120, 165); /* เปลี่ยนสีพื้นหลังเป็นสีม่วง */
}

.header {
  display: flex;                  /* ใช้ flexbox */
  background-color: #333;       
  padding: 0px 20px;            /* ระยะห่างภายใน */
  justify-content: space-between;  
  height: 50px;
  
}

.header-title {
  font-size: 30px; /* กำหนดขนาดฟอนต์ให้ใหญ่ขึ้น */
  color: #ffffff; /* กำหนดสีของตัวอักษร */
  text-align: center; /* จัดให้อยู่กลาง */
}


.header-button {
  background-color: transparent;  /* ไม่มีพื้นหลัง */
  color: rgb(255, 255, 255);                  /* สีตัวอักษร */
  border: none;                  /* ไม่มีกรอบ */
  margin-right: 20px;            /* ระยะห่างระหว่างปุ่ม */
  cursor: pointer; 
  font-size: 20px;
  text-align: center; /* จัดให้อยู่กลาง */
}

.header-button i {
  margin-right: 5px; /* ช่องว่างระหว่างไอคอนกับข้อความ */ 
}
