.menu {
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: column;
    height: 100vh; /* ใช้ความสูงเต็มหน้าจอ */
    background-color: rgb(165, 120, 165); /* เปลี่ยนสีพื้นหลังเป็นสีม่วง */
}

.menu h1 {
    margin-top: 30px;
    font-family: "Rubik Vinyl", system-ui;
    font-size: 50px;
    margin-left: 150px;
    margin-top: 60px;
}
.menu-button{
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding: 10px 35px;
    font-size: 23px;
    margin: 17px 0;
    background-color: #000000;
    color: white;
    border-radius: 20px;    
    cursor: pointer; 
    transition: background-color 0.3s;
    text-align: center; /* จัดให้อยู่กลาง */ 
    width: 340px;
    height: 75px;
    margin-left: 250px;
}
.menu-button:hover {
    background-color: #b454da;
    color: black;
}